.wrapper {
    display: flex;
    flex-direction: column;
}

.active {
    color: red;
    border-right: 2px solid blue;
    transition: 1s;
}

a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
    border-right: 1px solid rgba(0, 0, 255, 0);
}

